encryption = "age"

[age]
{{- if eq .chezmoi.os "linux" "darwin" }}
identity = "/home/eleung/.ssh/id_ed25519_chezmoi"
{{- else if eq .chezmoi.os "windows" }}
identity = "C:/Users/eleung/.ssh/id_ed25519_chezmoi"
{{- end }}
recipient = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAINzyG89VfsculJFE1Rde2k+38VgG8qUfMh3P+nlcVQg+ eleung@fedora"

[diff]
command = "delta"
pager = "delta"

[edit]
command = "nano"

{{- $chassisType := "desktop" }}
{{- if eq .chezmoi.os "darwin" }}
{{-   if contains "MacBook" (output "system_profiler" "SPHardwareDataType") }}
{{-     $chassisType = "laptop" }}
{{-   else }}
{{-     $chassisType = "desktop" }}
{{-   end }}
{{- else if eq .chezmoi.os "linux" }}
{{-   $chassisType = (output "hostnamectl" "--json=short" | mustFromJson).Chassis }}
{{- else if eq .chezmoi.os "windows" }}
{{-   $chassisType = (output "powershell.exe" "-NoProfile" "-NonInteractive" "-Command" "if ((Get-CimInstance -Class Win32_Battery | Measure-Object).Count -gt 0) { Write-Output 'laptop' } else { Write-Output 'desktop' }") | trim }}
{{- end }}

[data]
chassisType= "{{- $chassisType -}}"
