encryption = "age"

{{/* Template variables */}}
{{- $chassisType := "desktop" -}}
{{- $isWsl := "no" -}}

{{- if eq .chezmoi.os "linux" -}}
{{-   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
{{-     $isWsl = "yes" -}}
{{-   end -}}
{{- end -}}

{{- if eq .chezmoi.os "linux" -}}
{{-   if eq $isWsl "yes" -}}
{{-     $chassisType = "WSL" -}}
{{-   else -}}
{{-     $chassisType = (output "hostnamectl" "--json=short" | mustFromJson).Chassis -}}
{{-   end -}}
{{- else if eq .chezmoi.os "windows" -}}
{{-   $chassisType = (output "powershell.exe" "-NoProfile" "-NonInteractive" "-Command" "if ((Get-CimInstance -Class Win32_Battery | Measure-Object).Count -gt 0) { Write-Output 'laptop' } else { Write-Output 'desktop' }") | trim -}}
{{- end -}}

[data]
isWsl = "{{- $isWsl -}}"
chassisType= "{{- $chassisType -}}"
homeDir = "{{- .chezmoi.homeDir -}}"

[age]
identity = "{{- .chezmoi.homeDir -}}/.ssh/id_ed25519_chezmoi"
recipient = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAINzyG89VfsculJFE1Rde2k+38VgG8qUfMh3P+nlcVQg+ eleung@fedora"

[diff]
command = "delta"
pager = "delta"

[edit]
command = "nano"
