getantidote/use-omz

# https://github.com/ohmyzsh/ohmyzsh/issues/4963#issuecomment-210263233
ohmyzsh/ohmyzsh path:lib

romkatv/powerlevel10k kind:fpath

# Mise is initiated here
ohmyzsh/ohmyzsh path:plugins/mise
ohmyzsh/ohmyzsh path:plugins/chezmoi
ohmyzsh/ohmyzsh path:plugins/docker
ohmyzsh/ohmyzsh path:plugins/docker-compose
ohmyzsh/ohmyzsh path:plugins/fzf
{{- if eq .chassisType "laptop" }}
ohmyzsh/ohmyzsh path:plugins/tailscale
{{- end }}

zsh-users/zsh-completions kind:fpath path:src
zsh-users/zsh-autosuggestions
zsh-users/zsh-syntax-highlighting