[alias]
fpush = push --force-with-lease
# https://orbital.rodeo/~mike/20130302-git-serve/
quickserve = daemon --verbose --export-all --base-path=.git --reuseaddr --strict-paths .git/
# https://stackoverflow.com/a/30720302
out = log @{push}..
[branch]
sort = -committerdate
[branch "main"]
mergeOptions = --no-ff --no-commit
[branch "dev"]
mergeOptions = --squash --no-commit
[commit]
gpgsign = true
verbose = true
[core]
pager = delta
[delta]
dark = true
navigate = true
side-by-side = true
[diff]
algorithm = histogram
[gpg]
format = ssh
[init]
defaultbranch = main
[interactive]
diffFilter = delta --color-only
[merge]
conflictstyle = zdiff3
[pull]
ff = only
[push]
gpgsign = if-asked
followtags = true
[rebase]
abbreviateCommands = true
[submodule]
recurse = true
[tag]
gpgsign = true
sort = -v:refname
[transfer]
fsckobjects = true
[user]
email = contact@ericleung.dev
name = Eric Leung
{{- if eq .chezmoi.os "linux" }}
signingkey = /home/eleung/.ssh/id_ed25519_github_sign.pub
{{- else if eq .chezmoi.os "windows" }}
signingkey = "C:/Users/eleung/.ssh/id_ed25519_github_sign.pub"
{{ end }}
