[alias]
fpush = push --force-with-lease
# https://orbital.rodeo/~mike/20130302-git-serve/
quickserve = daemon --verbose --export-all --base-path=.git --reuseaddr --strict-paths .git/
# https://stackoverflow.com/a/34467298
tree = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
# https://stackoverflow.com/a/28502292
sync = !"f() { \
  if [ -z \"$1\" ]; then \
    echo \"Error: Branch name required. Usage: git sync <branch>\"; \
    return 1; \
  fi; \
  git fetch upstream && \
  git stash && \
  git rebase upstream/$1 $1 && \
  git stash pop; \
}; f"
stashout = !"f() { \
  if [ -z \"$1\" ]; then \
    echo \"Error: Branch name required. Usage: git stashout <branch>\"; \
    return 1; \
  fi; \
  git stash && \
  git checkout $1 && \
  git stash pop; \
}; f"
[branch]
sort = -committerdate
[branch "master"]
mergeOptions = --no-ff --no-commit
[branch "main"]
mergeOptions = --no-ff --no-commit
[branch "dev"]
mergeOptions = --squash --no-commit
[commit]
gpgsign = true
verbose = true
[core]
pager = delta
autocrlf = input
{{- if eq .chezmoi.os "linux" }}
excludesFile = /home/eleung/.gitignore
{{- else if eq .chezmoi.os "windows" }}
excludesFile = "C:/Users/eleung/.gitignore"
{{ end }}
[delta]
dark = true
navigate = true
side-by-side = true
[diff]
algorithm = histogram
[gpg]
format = ssh
[interactive]
diffFilter = delta --color-only
[merge]
conflictstyle = zdiff3
[pull]
ff = only
[push]
gpgsign = if-asked
followtags = true
[rebase]
abbreviateCommands = true
[submodule]
recurse = true
[tag]
gpgsign = true
sort = -v:refname
[transfer]
fsckobjects = true
[user]
email = contact@ericleung.dev
name = Eric Leung
{{- if eq .chezmoi.os "linux" }}
signingkey = /home/eleung/.ssh/id_ed25519_github_sign.pub
{{- else if eq .chezmoi.os "windows" }}
signingkey = "C:/Users/eleung/.ssh/id_ed25519_github_sign.pub"
{{ end }}
