# This should be safe to be sourced anywhere

{{- if ne .isWsl "yes" }}
# Point all Docker usage to the Podman socket
export DOCKER_HOST="unix://$XDG_RUNTIME_DIR/podman/podman.sock"

export OBSIDIAN_PATH="$HOME/Documents/Obsidian"
{{- end }}

{{- if eq .isWsl "yes" }}
# Note: Run these in Powershell first
# ```
# setx WINHOME $HOME
# setx WSLENV (("$env:WSLENV".TrimEnd(':') + ":WINHOME/up:").TrimStart(':'))
# ```
# Does not work in VSCode terminals
export OBSIDIAN_PATH="$WINHOME/Documents/Obsidian"
{{- end }}

# Uses fd for fzf
export FZF_DEFAULT_COMMAND="fd --type f --strip-cwd-prefix --hidden --follow --exclude .git --color always"
export FZF_DEFAULT_OPTS="--ansi"
export FZF_CTRL_T_COMMAND="$FZF_DEFAULT_COMMAND"

# https://pi.dev/packages/@ff-labs/pi-fff
export PI_FFF_MODE="override"

# Useful alias/functions
# https://wiki.archlinux.org/title/Rsync#As_cp/mv_alternative
cpr() {
    rsync --archive -hh --partial --info=stats1,progress2 --modify-window=1 "$@"
}

ssh-no-verify() {
    ssh -o "StrictHostKeyChecking=no" -o "UserKnownHostsFile=/dev/null" "$@"
}
