[tools]
java = "temurin-25"
python = "3.13"
node = "24"
usage = "latest"
pi = "latest"
{{- if eq .chezmoi.os "linux" }}
chezmoi = "latest"
dive = "latest"
{{- end }}

[settings]
idiomatic_version_file_enable_tools = []

{{- if eq .chezmoi.os "linux" }}
[settings.python]
compile = true
{{- end }}
