[tools]
java = "temurin-21"
python = "3.13"
usage = "latest"
{{- if eq .chezmoi.os "linux" }}
chezmoi = "latest"
node = "20"
dive = "latest"
aws-cli = "latest"
{{ end }}

[settings]
idiomatic_version_file_enable_tools = []

{{ if eq .chezmoi.os "linux" -}}
[settings.python]
compile = true
{{ end }}
