[tools]
java = "temurin-25"
python = "3.13"
node = "24"
usage = "latest"
pi = "latest"
{{- if eq .chezmoi.os "windows" }}
age = "latest"
delta = "latest"
duckdb = "latest"
fd = "latest"
fzf = "latest"
jq = "latest"
ripgrep = "latest"
tlrc = "latest"
yq = "latest"
{{- end }}
