The following CLI tools are installed: `rg`, `fd`, `jq`, `yq`. Useful when using the powershell or bash tool.

{{- if eq .chezmoi.os "linux" -}}
## IMPORTANT: Sandbox Plugin

A sandbox plugin is installed. Please read the below carefully.

### Restricted File Permission

Only the current directory, `$HOME/.pi` and `/tmp` are allowed for reading and writing.

### 0 Bytes Dotfiles

The plugin relies on Anthropic's sandbox runtime which currently has a bug: it generate a bunch of **character device files** in the **current directory** when run.
They will disappear once the Pi process (i.e. you) is terminated.
The list of files generated:

- .bash_profile
- .bashrc
- .env
- .gitconfig
- .gitmodules
- .idea
- .mcp.json
- .profile
- .ripgreprc
- .vscode
- .zprofile
- .zshrc
- .claude/agents
- .claude/commands

You should ignore these files in the current directory **only if they are character devices**, as they are **very likely not related to the project itself**.
{{- end }}
{{- if eq .isWsl "yes" }}
You are on WSL2 (Arch Linux). Unless explicitly told otherwise, you should not go into `/mnt/c` while searching/writing. This includes searching the whole `/` as it includes `/mnt/c`!
{{- end }}
