## Available Tools

The following CLI tools are installed: `rg`, `fd`, `jq`, `yq`. Use them when needed.
{{- if eq .chezmoi.os "linux" }}

## Sandbox Plugin

A sandbox plugin is installed. Please read the below carefully.

### Restricted File Permission

Only the current directory, `$HOME/.pi` and `/tmp` are allowed for reading and writing.

### Character Device Files

The plugin relies on Anthropic's sandbox runtime which currently has a bug: it generate a bunch of **character device files** in the **current directory** when run.
Only you (in the sandbox) can see them. They will disappear once the Pi process is terminated.
You MUST ignore all character device files in the current directory.
{{- end -}}
{{ if eq .isWsl "yes" }}

## WSL2 Notes

You are on WSL2 (Arch Linux). You MUST not touch `/mnt/c` while searching/writing, unless explicitly told otherwise (or if you are already inside). This includes searching the whole `/` as it includes `/mnt/c`!
{{- end -}}
