{
  "packages": [
    "npm:pi-rewind@0.5.0",
{{- if eq .chezmoi.os "linux" }}
    "npm:pi-sandbox@0.6.8",
{{- end }}
    "npm:@diegopetrucci/pi-notify@0.1.18",
    "git:github.com/earendil-works/pi-review@f1de050504936046c0f85b21fec0e0a93ef394eb",
    "npm:@ff-labs/pi-fff@0.10.6",
    "npm:@juicesharp/rpiv-web-tools@2.10.1",
    "npm:@juicesharp/rpiv-ask-user-question@2.10.1"
  ],
{{- if eq .chezmoi.os "windows" }}
  "defaultTools": [
    "read",
    "powershell",
    "edit",
    "write"
  ],
{{- end }}
  "externalEditor": "nano",
  "lastChangelogVersion": "0.86.0",
  "branchSummary": {
    "skipPrompt": true
  },
  "defaultProvider": "deepseek",
  "defaultModel": "deepseek-v4-flash-vision-exp",
  "defaultThinkingLevel": "high",
  "enableInstallTelemetry": false,
  "theme": "dark",
  "hideThinkingBlock": false
}